@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

body {
  background-color: peachpuff;

  font-family: "Poppins", sans-serif;
}
#heading {
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  margin: 50px;
  color: red;
}
.container {
  display: flex;
}
.side-img {
  width: 45%;

  object-fit: cover;
  border-radius: 50%;
  padding: 0.5rem;
}

.form-add {
  width: 350px;
  display: flex;
  margin-left: 50px;
}
.form-add label {
  display: block;
  margin-bottom: 20px;
}
.form-add label > span {
  float: left;
  text-align: left;
  width: 600px;
  color: #f072a9;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 1px #fff;
}
.form-add fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #ffd2d2;
  padding-left: 250px;
  background: #fff4f4;
  box-shadow: inset 0px 0px 15px #ffe5e5;
  -moz-box-shadow: inset 0px 0px 15px #ffe5e5;
  -webkit-box-shadow: inset 0px 0px 15px #ffe5e5;
}
.form-add fieldset legend {
  color: #ffa0c9;
  border-top: 1px solid #ffd2d2;
  border-left: 1px solid #ffd2d2;
  border-right: 1px solid #ffd2d2;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #fff4f4;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #f1f1f1;
  -moz-box-shadow: -0px -1px 2px #f1f1f1;
  -webkit-box-shadow: -0px -1px 2px #f1f1f1;
  font-weight: normal;
  font-size: 20px;
}
.form-add textarea {
  width: 550px;
  height: 250px;
}
.form-add input[type="text"],
.form-add textarea {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #ffc2dc;
  outline: none;
  color: #f072a9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ffd5e7;
  -moz-box-shadow: inset 1px 1px 4px #ffd5e7;
  -webkit-box-shadow: inset 1px 1px 4px #ffd5e7;
  background: #ffeff6;
  width: 50%;
}
.form-add input[type="submit"],
.form-add input[type="button"] {
  background: #eb3b88;
  border: 1px solid rgb(201, 74, 129);
  padding: 5px 15px 5px 15px;
  color: #ffcbe2;
  box-shadow: inset -1px -1px 3px #ff62a7;
  -moz-box-shadow: inset -1px -1px 3px #ff62a7;
  -webkit-box-shadow: inset -1px -1px 3px #ff62a7;
  border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: bold;
  font-size: 20px;
}
.required {
  color: red;
  font-weight: normal;
}

#get-course {
  color: #eb3b88;
  font-size: 33px;
  border-radius: 30px;
  margin-top: 5rem;
  margin-left: 20rem;
}
ul {
 display: grid;
  width: 80%;
  margin: 30px auto;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  
}
li {
  list-style: none;
}

.item{
  background: #fff4f4;

  

  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header"
                       "aside icon"
                       "aside icon";
  
  text-align: center;
  width:500px;
}
.item-text-title{
  grid-area:header;
  text-decoration: underline;
  color: #eb3b88;
  
}

.icon {
  
  
  padding: 10px;
  color:rgb(201, 74, 129);
  
  width: fit-content;
  margin: 5px auto;
  

}
.item-description, .item-duration {
  color: #ff62a7;
  
}